<table>
  <tr>
  <td><a href="/urls">URL list</a></td>
  <td><a href="/urls/new">Add a new URL</a></td>
  </tr>
  <tr>
</table>
<table>
  <tr>
    <td>
      <form action="/login" method="POST">
        <label for="usernameForm">Name:</label>
        <input id="usernameForm" type="text" name="username" style="width: 150px">
        <input type="submit" value="Submit">
      </form>
    </td>
    <td>
    <% if (username) { %>
      Username: <%= username %>
      <td>
        <form action="/logout" method="POST">
          <input type="submit" value="Logout">
        </form>
      </td>
    <% } %>
    </td>
  </tr>
</table>
<hr>
