<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
</head>
<body>
  <% include partials/_header %>
  <table>
  <% console.log(urls) %>
  <% for (url in urls) {%>
    <tr>
      <% console.log(url) %>
      <td><%= urls[url]['shortURL'] %> : <%= urls[url]['longURL'] %></td>
      <td><a href="/urls/<%= urls[url]['shortURL'] %>">Edit</a></td>
      <form method="POST" action="/urls/<%= urls[url]['shortURL'] %>/delete">
        <td><button type="submit" value="Delete">Delete</button></td>
      </form>
    </tr>
  <% } %>
  </table>
</body>
</html>

